<%- include("partials/header.ejs") %>
    <div class="content">
        <%- include("partials/calendar.ejs") %>
        <%- include("partials/list.ejs") %>
    </div>
<%- include("partials/footer.ejs") %>