<form action="/submit" method="POST">
    <div class="task">
        <div></div>
        <div class="add">
            <input type="submit" value="+" class="addButton">
            <input type="text" name="addtask" id="create" placeholder="Create a new task" class="create">
        </div>
    </div>
</form>