<div class="calendar">
    <div class="month"><%= locals.thismonth %></div>
    <div class="container">
        <div class="item Mon">
            <div class="day-type"><span>Mon</span></div>
            <div class="area"></div>
            <div class="area"></div>
            <div class="area"></div>
            <div class="area"></div>
        </div>
        <div class="item Tue">
            <div class="day-type"><span>Tue</span></div>
            <div class="area"></div>
            <div class="area"></div>
            <div class="area"></div>
            <div class="area"></div>
        </div>
        <div class="item Wed">
            <div class="day-type"><span>Wed</span></div>
            <div class="area"></div>
            <div class="area"></div>
            <div class="area"></div>
            <div class="area"></div>
        </div>
        <div class="item Thu">
            <div class="day-type"><span>Thu</span></div>
            <div class="area"></div>
            <div class="area"></div>
            <div class="area"></div>
            <div class="area"></div>
        </div>
        <div class="item Fri">
            <div class="day-type"><span>Fri</span></div>
            <div class="area"></div>
            <div class="area"></div>
            <div class="area"></div>
            <div class="area"></div>
        </div>
        <div class="item Sat">
            <div class="day-type"><span>Sat</span></div>
            <div class="area"></div>
            <div class="area"></div>
            <div class="area"></div>
            <div class="area"></div>
        </div>
        <div class="item Sun">
            <div class="day-type"><span>Sun</span></div>
            <div class="area"></div>
            <div class="area"></div>
            <div class="area"></div>
            <div class="area"></div>
        </div>
    </div>
</div>